<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @item.id %>
</p>

<p>
  <b>Requested by:</b>
  <%= @item.requested_by %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category_id %>
</p>

<p>
  <b>Priority:</b>
  <%= @item.priority_id %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Creator:</b>
  <%= @item.creator %>
</p>

<p>
  <b>Note:</b>
  <%= @item.note %>
</p>

<p>
  <b>Added date:</b>
  <%= @item.added_date %>
</p>

<p>
  <b>Active:</b>
  <%= @item.active %>
</p>

<p>
  <b>Buyer:</b>
  <%= @item.buyer %>
</p>

<p>
  <b>Buy date:</b>
  <%= @item.buy_date %>
</p>

<p>
  <b>Cost:</b>
  <%= @item.cost %>
</p>

<p>
  <b>Cart:</b>
  <%= @item.cart %>
</p>

<p>
  <b>Cart date:</b>
  <%= @item.cart_date %>
</p>

<p>
  <b>Url:</b>
  <%= @item.url %>
</p>

<p>
  <b>Format:</b>
  <%= @item.format_id %>
</p>

<p>
  <b>Nonlist:</b>
  <%= @item.nonlist %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
